.opener {
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	/*simple styling*/
}

.q1 {
	display: block;
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	text-align: center;
}

.q2 {
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	text-align: center;
	display: none;
}

.q3 {
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	text-align: center;
	display: none;
}

.q4 {
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	text-align: center;
	display: none;
}

.q5 {
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	text-align: center;
	display: none;
}

.q6 {
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	text-align: center;
	display: none;
}
/* some basic styling copy[asted fro everything to look the smae */
.badend {
	opacity: 0%;
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	text-align: center;
	transition: opacity 3s;
}

.goodend {
	opacity: 0%;
	background: #DDA29F;
	border: solid;
	border-width: 6px;
	border-color: #B63F3B;
	font-size: 20px;
	text-align: center;
	transition: opacity 3s;
}
